<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
    <title>View Services</title>
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <h1>Hello {{user.first_name}}! Read about services!</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="content-view">
            <p>{{service.mowing}}</p>
            <ul>
                <li>Service: {{service.mowing}}</li>
                <li>Date: {{service.date}}</li>
                <li>Notes: {{service.notes}}</li>
                <li>Created by: {{user.first_name}}</li>
            </ul> 
        </div>
    </div>
    
</body>
</html>